<h1 class="text-center text-mainTitle">Editar Proveedor</h1>
<button routerLink="/suppliers" class="bg-orange-300 px-3 py-1 ml-1 rounded-lg">Regresar</button>

<form *ngIf="supplier" [formGroup]="formSupplier" class="mx-5 my-4 flex flex-col justify-center items-center" (ngSubmit)="onSubmit()">
    <label>N° De RUC:
        <input name="numRuc" type="number" formControlName="num_ruc" (keyup.enter)="searchRuc()" class="block mb-4">
        <button type="button" (click)="searchRuc()" class="bg-blue-300 px-3 py-1 ml-1 rounded-lg">Buscar</button>
    </label>
    <label>Razón Social:
        <input name="businessName" type="text" formControlName="business_name" class="block mb-4">
    </label>
    <label>Dirección Fiscal:
        <input name="fiscalAddress" type="text" formControlName="fiscal_address" class="block mb-4">
    </label>
    <label>Prefijo:
        <p-dropdown name="prefix" formControlName="prefix" [options]="prefixs" optionLabel="label"
            placeholder="Seleccione" class="block mb-4" />
    </label>
    <label>Teléfono:
        <input name="phone" type="number" formControlName="phone" class="block mb-4">
    </label>
    <label>Contacto:
        <input name="contac" type="text" formControlName="contac" class="block mb-4">
    </label>
    <p-toast />
    <button type="button" class="bg-orange-200 p-1 rounded-lg" name="description" (click)="confirmationUpdate()">Actualizar</button>
</form>

<p-confirmDialog #cd maskStyleClass="position: absolute">
    <ng-template pTemplate="headless" let-message>
        <section class="bg-zinc-300">
            <span>{{ message.header }}</span>
            <p>{{ message.message }}</p>
            <div>
                <button (click)="cd.accept()">Aceptar</button>
                <button (click)="cd.reject()">Cancelar</button>
            </div>
        </section>
    </ng-template>
</p-confirmDialog>