<h1>REGISTRAR EMPLEADO</h1>
<form [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
    <section>
        <div>
            <label for="name">Nombres: </label>
            <input type="text" id="name" name="name" formControlName="name" pInputText autocomplete="given-name"/>
        </div>
        <div>
            <label for="paternalSurname">Apellido Paterno: </label>
            <input type="text" id="paternalSurname" name="paternal_surname" formControlName="paternal_surname" pInputText/>
        </div>
        <div>
            <label for="maternalSurname">Apellido Materno: </label>
            <input type="text" id="maternalSurname" name="maternal_surname" formControlName="maternal_surname" pInputText/>
        </div>
        <div>
            <label for="dateOfBirth">Fecha De Nacimiento: </label>
            <p-calendar inputId="dateOfBirth" name="date_of_birth" formControlName="date_of_birth" [dateFormat]="'dd-mm-yy'"/>
        </div>
        <div>
            <label for="salary">Salario: </label>
            <p-inputNumber inputId="salary" name="salary" formControlName="salary" mode="currency" currency="PEN" locale="es-PE" />
        </div>
        <div>
            <p>Fecha De Pago: <p-dropdown name="payment_date" formControlName="payment_date" 
                [options]="paymentDates" optionLabel="label" placeholder="Seleccione" /></p>
        </div>
        
        <div>
            <p>Foto: <p-fileUpload chooseLabel="Subir" chooseIcon="pi pi-upload" name="photo_path'" accept="image/*"
                maxFileSize="1000000" (onSelect)="onImageSelect($event)" (onRemove)="onImageRemove($event)" [showUploadButton]="false" [showCancelButton]="false" /></p>   
        </div>
    </section>

    <section>
        <div>
            <p>Tipo De Documento: <p-dropdown name="document_types" formControlName="type" 
                [options]="documentTypes" optionLabel="label" placeholder="Seleccione" /></p>
        </div>
        <div>
            <label for="numberDoc">N° Doc: </label>
            <p-inputNumber inputId="numberDoc" name="number" formControlName="document_number" format="false" />
        </div>
    </section>

    <section>
        <div>
            <p>Prefijo: <p-dropdown name="prefix" formControlName="prefix" 
                [options]="prefixs" optionLabel="label" placeholder="Seleccione" /></p>
        </div>
        <div>
            <label for="numberPhone">N° Telefonico: </label>
            <p-inputNumber inputId="numberPhone" name="number" formControlName="phone_number" format="false" />
        </div>
    </section>

    <section>
        <div>
            <p>Pais: <p-dropdown name="country" formControlName="country" [options]="countries" optionLabel="label"
                placeholder="Seleccione" /></p>
        </div>
        <div>
            <p>Departamento: <p-dropdown name="region" formControlName="region" [options]="regions" optionLabel="label"
                placeholder="Seleccione" /></p>
        </div>
        <div>
            <p>Provincia: <p-dropdown name="province" formControlName="province" [options]="provinces" optionLabel="label"
                placeholder="Seleccione" (onChange)="onProvinceChange()"/></p>
        </div>
        <div>
            <p>Ciudad: <p-dropdown name="city" formControlName="city" [options]="cities" optionLabel="label"
                placeholder="Seleccione" /></p>
        </div>
        <div>
            <label for="street">Calle: </label>
            <input type="text" id="street" name="street" formControlName="street" pInputText/>
        </div>
        <div>
            <label for="numberStreet">N° De Calle: </label>
            <p-inputNumber inputId="numberStreet"  name="number" formControlName="number_street" format="false" class="number-input"/>
        </div>
    </section>

    <section>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" formControlName="email" autocomplete="given-name">
        </div>
        <div>
            <label for="password">Password: </label>
            <p-password inputId="password" formControlName="password" [toggleMask]="true" promptLabel="Digite su contraseña" weakLabel="Muy simple" 
                mediumLabel="Suficiente" strongLabel="Excepcional" />
        </div>
    </section>

    <section>
        <div>
            <p>Documentos Externos: <p-dropdown name="document_type_employ" formControlName="document_type_employ" [options]="documentTypesEmployees" optionLabel="label"
                placeholder="Seleccione" /></p>
        </div>
        <div>
            <p>Archivo: <p-fileUpload chooseLabel="Subir" chooseIcon="pi pi-upload" name="document_path'" accept=".pdf"
                maxFileSize="2000000" (onSelect)="onFileSelect($event)" (onRemove)="onFileRemove($event)"
                [showUploadButton]="false" [showCancelButton]="false" /></p>
        </div>
    </section>

    <p-button label="Registrar" type="submit"></p-button>
</form>