<h1>REGISTRAR EMPLEADO</h1>
<form [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
    <section>
        <label>Nombres: 
            <input type="text" id="name" name="name" formControlName="name">
        </label>
        <label>Apellido Paterno: 
            <input type="text" id="paternalSurname" name="paternal_surname" formControlName="paternal_surname">
        </label>
        <label>Apellido Materno: 
            <input type="text" id="maternalSurname" name="maternal_surname" formControlName="maternal_surname">
        </label>
        <label>Fecha de Nacimiento:
            <input type="date" name="date_of_birth" formControlName="date_of_birth">
        </label>
        <label>Salario:
            <p-inputNumber inputId="salary" name="salary" formControlName="salary" mode="currency" currency="PEN" locale="es-PE"/>
        </label>
        <label>Fecha De Pago:
            <p-dropdown inputId="paymentDate" name="payment_date" formControlName="payment_date" 
                [options]="paymentDates" optionLabel="label" placeholder="Seleccione"/>
        </label>
        <label>Foto: 
            <p-fileUpload chooseLabel="Subir" chooseIcon="pi pi-upload" name="photo_path" accept="image/*" maxFileSize="1000000"
                (onSelect)="onImageSelect($event)" (onRemove)="onImageRemove($event)" [showUploadButton]="false"
                [showCancelButton]="false"/>
        </label>
    </section>
    <section>
        <label>Tipo De Documento: 
            <p-dropdown name="document_types" formControlName="type" [options]="documentTypes" optionLabel="label"
                placeholder="Seleccione"/>
        </label>
        <label>N° De Documento:
            <p-inputNumber inputId="numberDoc" name="number" formControlName="document_number" format="false"/>
        </label>
    </section>
    <section>
        <label>Prefijo:
            <p-dropdown name="prefix" formControlName="prefix" [options]="prefixs" optionLabel="label" placeholder="Seleccione"/>
        </label>
        <label>N° Telefónico:
            <p-inputNumber inputId="numberPhone" name="number" formControlName="phone_number" format="false" />
        </label>
    </section>
    <section>
        <label>Pais: 
            <p-dropdown name="country" formControlName="country" [options]="countries" optionLabel="label" placeholder="Seleccione"/>
        </label>
        <label>Departamento: 
            <p-dropdown name="region" formControlName="region" [options]="regions" optionLabel="label" placeholder="Seleccione"/>
        </label>
        <label>Provincia: 
            <p-dropdown name="province" formControlName="province" [options]="provinces" optionLabel="label" placeholder="Seleccione" (onChange)="onProvinceChange()"/>
        </label>
        <label>Ciudad:
            <p-dropdown name="city" formControlName="city" [options]="cities" optionLabel="label" placeholder="Seleccione"/>
        </label>
        <label>Calle:
            <input type="text" id="street" name="street" formControlName="street" pInputText />
        </label>
        <label>N° De Calle:
            <p-inputNumber inputId="numberStreet" name="number" formControlName="number_street" format="false"/>
        </label>
    </section>
    <section>
        <label>Email:
            <input type="email" id="email" name="email" formControlName="email">
        </label>
        <label>Contraseña:
            <p-password inputId="password" formControlName="password" [toggleMask]="true" promptLabel="Digite su contraseña"
                weakLabel="Muy simple" mediumLabel="Suficiente" strongLabel="Excepcional" />
        </label>
    </section>
    <section>
        <label>Documentos Externos: 
            <p-dropdown name="document_type_employ" formControlName="document_type_employ" [options]="documentTypesEmployees"
                optionLabel="label" placeholder="Seleccione" />
        </label>
        <label>Archivo:
            <p-fileUpload chooseLabel="Subir" chooseIcon="pi pi-upload" name="document_path" accept=".pdf" maxFileSize="2000000"
                (onSelect)="onFileSelect($event)" (onRemove)="onFileRemove($event)" [showUploadButton]="false"
                [showCancelButton]="false" />
        </label>
    </section>
    <button type="submit" class="border-solid border-black border-2 p-2">Registrar</button>
</form>