<h1 class="text-center text-mainTitle">CATEGORIAS</h1>

<app-create-category></app-create-category>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descipción</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categoriesList; let i = index">
            <td>{{ (currentPage - 1) * pageSize + (i + 1) }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <input type="checkbox" [id]="'status-' + i" class="hidden" [checked]="category.status === 1"
                    (click)="confirmationOnToggleChange(category.id, category.status)">
                <label [for]="'status-' + i"
                    class="w-16 h-6 rounded inline-flex cursor-pointer items-center justify-center"
                    [ngClass]="{'bg-buttonGO': category.status === 1, 'bg-stone-300': category.status === 0}">
                    <span>{{ category.status === 1 ? 'Activo' : 'Inactivo' }}</span>
                </label>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <p-paginator (onPageChange)="loadCategory($event)" [rows]="15" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[15, 30, 45]" />
</div>

<p-toast />
<p-confirmDialog #cd maskStyleClass="position: absolute">
    <ng-template pTemplate="headless" let-message>
        <section class="bg-gray-500">
            <span>{{ message.header }}</span>
            <p>{{ message.message }}</p>
            <div>
                <button (click)="cd.accept()">Aceptar</button>
                <button (click)="cd.reject()">Cancelar</button>
            </div>
        </section>
    </ng-template>
</p-confirmDialog>